@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

a.active {
  @apply bg-amber-500 text-white;
}

.control-arrow {
  @apply h-16 top-1/4 w-24 bg-amber-500 !important;
}

.blue {
  @apply bg-blue-200;
}

.red {
  @apply bg-red-200;
}

.green {
  @apply bg-green-200;
}

.black {
  @apply bg-gray-200;
}

.yellow {
  @apply bg-yellow-200;
}

.control-arrow:first-of-type {
  @apply rounded-r-full;
}

.control-next {
  @apply rounded-l-full;
}

.mobile {
  width: 100%;
}

.carousel .control-next.control-arrow::before {
  @apply border-l-black !important;
}

.carousel .control-prev.control-arrow::before {
  @apply border-r-black !important;
}

.slider-wrapper {
  width: calc(100% - 12rem) !important;
}

.slide {
  min-width: 17rem !important;
  margin: 0 1.5rem !important;
}

.slide:first-of-type {
  margin-left: 0 !important;
}

.slide img {
  width: 17rem !important;
  height: 17rem !important;
}

.image-wrapper {
  width: 20rem;
  height: 20rem;
}

.i-wrap {
  height: 20rem;
}

.round {
  height: 16rem;
  width: 16rem;
}

.splash-screen {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url('./images/bike.png'),
    linear-gradient(0deg, rgba(253, 172, 1, 1), rgba(253, 172, 1, 1));
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: right;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .image-wrapper {
    width: 17rem;
    height: 17rem;
  }

  .i-wrap {
    height: 17rem;
  }
}
