@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

a.active {
  @apply bg-amber-500 text-white;
}

.control-arrow {
  @apply h-16 top-1/4 w-24 bg-emerald-500 !important;
}

.control-arrow:first-of-type {
  @apply rounded-r-full;
}

.control-next {
  @apply rounded-l-full;
}

.carousel .control-next.control-arrow::before {
  @apply border-l-black !important;
}

.carousel .control-prev.control-arrow::before {
  @apply border-r-black !important;
}

.slider-wrapper {
  width: calc(100% - 12rem) !important;
}

.slide {
  min-width: auto !important;
}

.splash-screen {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url('./images/bike.png'),
    linear-gradient(0deg, rgba(253, 172, 1, 1), rgba(253, 172, 1, 1));
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: right;
}
